.titleText{
    font-family: 'Playfair Display';
    font-size: 36px;
    text-align: left;
    margin-top: 7%;
    /* padding-left: 20px; */
    color:  #2E2E3A;
}

.covid-text{
    color: white;
    font-size: 20px;
}
.covidRead{
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 24px;
    color:  #FFFFFF !important;
    background-color: #8B2023;
    text-align: center;
}

.hero-image-btn{
    background-color:#2e6de2;
    color: white;
}
.aboutImage{
    width: 100% !important;
    object-fit: cover;
    max-height: 500px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.heroTitle{
    font-family: 'Playfair Display';
    font-size: 36px;
    color: #ffffff;
    margin-top: 7%;
}
.heroCopy{
    position: absolute;
    width:100%;
    text-align: center;
}
.heroText{
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 24px;
    color: white;
    text-align:center;
}


.mr-3{
    margin-left: 15px;
    height: 400px;
}

.media{
    justify-content: center;
}

.venueText{
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 24px;
    color:  #2E2E3A;
    background-color: #ffffff;
    /* padding-left: 20px; */
}
.about{
    background-color: #2E2E3A;
}

.freeway-btn{
    /* margin-left: 3%; */
    background-color: #2e6de2;
    color: white;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border-radius: 10px;
    width: 10rem;
    /* margin-left: 33rem; */
}


.aboutTitle{
    font-family: 'Playfair Display';
    font-size: 36px;
    text-align: left;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutText{
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align:left;
}
.buyTickets{
    color:#FFFFFF;
    background-color:#2E6DE2;
    border: none;
}
.volunteer{
    background-color:#ffffff;
}
.volunteerTitle{
    font-family: 'Playfair Display';
    font-size: 36px;
    color:#2E2E3A;
    text-align:left;
}

.volunteerTitle{
    position: absolute;
    text-align: center;
}

.volunteerText{
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 24px;
    color: white;
    position: absolute;
    text-align: center;
}

.grid-image{
    /* width: 90%; */
    object-fit: fill;
    padding-left: 0 !important;
    padding-right: 0 !important;
    /* margin-left: 14%; */
}

.background-volunteer{
    background-color: #2E2E3A;
}

.card-title{
    font-family: Playfair Display;
    font-size: 24px;
    text-align: center;
    margin-top: 7%;
   
}

.card-text{
    font-family: Playfair Display;
    font-size: 20px;
    text-align: center;
    margin-top: 7%;
}
