.schedulehead {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: white;
    
}
.blue {
    background-color: #22468A;
    padding: 2rem;
}
.filmfreeway {
    height: 50px;
    width: 250px;
    float: right;
    margin: 2rem;
}
.btn-custom {
    background-color: #FBAE56;
}